#product_titdesc {
  display: flex;
  flex-direction: row;
}
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  color: #af9855;
}
.btn-outline-dark {
  color: #af9855;
  border-color: #af9855;
}
.btn-outline-dark:hover {
  background-color: #af9855;
}
.card {
  margin-top: 10vh;
}
#roomcont {
  margin-top: 15vh;
}
.ftco-navbar-light .navbar-nav > .nav-item > .nav-link:hover {
  color: rgba(90, 178, 198, 1);
}
.hero {
  height: 100vh;
}
